body {
    font-family: 'Cabin', sans-serif;
}

.wrapper {
    max-width: 1296px;
    margin-left: auto;
    margin-right: auto;
}

/* ---------Header start --------- */

.header {
    position: sticky;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.header-menu-top-blue {
    background: #10BBD5;
}

.header-menu-top-alternative {
    background: #4C394E;
}


.header-top-wrapper {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inherit;
    text-decoration: none;
    color: #F8FDFE;
    font-size: 24px;
    font-weight: 700;
}

.logo-icon {
   margin-right: 4px;
}

.cart {
    display: flex;
    align-items: center;
}

.total-price {
    color: #F8FDFE;
    line-height: 24px; /* 150% */
    margin-right: 8px;
}

.total-amount {
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    padding: 0;
    background-image: url("../images/cart.svg");
    color: #000;
    font-size: 12px;
    line-height: 10px; /* 83.333% */
    position: relative;
    cursor: pointer;
}

.amount-number {
    position: absolute;
    left: 16px;
    bottom: 21px;
}

.header-menu-bottom {
    background: #FFF;
}

.header-bottom-wrapper {
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.right-menu-link {
    text-decoration: none;
    color: #000;
    line-height: 24px; /* 150% */
}

/* ---------Header end ---------- */

/* --- Product section start ---- */

.main {
    padding-bottom: 120px;
    background: #EEEEEF;
}

.main-alternative {
    background-color: #FFFFFF;
}

.product-section {
    /*background: #EEEEEF;*/
    padding-top: 32px;
}

.product-section-title {
    margin: 0;
    padding-bottom: 24px;
}

.product-container {
    padding-top: 24px;
    border-top: 1px solid #A8A8A8;
    display: grid;
    grid-template-columns: repeat(4, 306px);
    justify-content: space-between;
    grid-template-rows: repeat(3, 512px);
    row-gap: 32px;
}

.product-card {
    position: relative;
    text-decoration: none;
    background-color: #F8FDFE;
    border: 1px solid #8E8E8E;
    padding: 32px;
}

.product-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: 280px;
}

.product-title {
    display: block;
    margin-top: 16px;
    margin-bottom: 0;
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;
    line-height: 31px; /* 140% */
    border-bottom: 1px solid #A8A8A8;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product-author {
    display: block;
    color: #8E8E8E;
    line-height: 24px; /* 150% */
}

.product-price {
    margin-top: 8px;
    display: block;
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
}

.product-old-price {
    position: absolute;
    left: 130px;
    bottom: 86px;
    color: #8E8E8E;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    text-decoration: line-through;
}

.badge-all {
    position: absolute;
    left: 32px;
    top: 34px;
}

.badge {
    line-height: 24px; /* 150% */
    padding: 4px 8px;
    border-radius: 4px;
    text-decoration: none;
    color: #F8FDFE;
}

.badge-hit {
    background: #4200FF;
}

.badge-new {
    background: #AF39E7;
}

.badge-discount {
    background: #EA33C0;
}

.product-button {
    margin: 16px auto;
    padding: 8px 0;
    width: 242px;
    border: none;
    border-radius: 4px;
    color: #F8FDFE;
    line-height: 24px; /* 150% */
    cursor: pointer;
}

.change-theme-button {
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    color: #000000;
    line-height: 24px; /* 150% */
    cursor: pointer;
}

.change-theme-button:hover {
    background-color: #4D762D;
}

.button-add {
    background-color: #4C394E;
}

.button-end {
    background: #4D762D;
}

/* --- Product section end ---- */

/* -----------Footer start -----------*/

.footer {
    background: #4C394E;
}

.footer-wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
}

.copy {
    color: #F8FDFE;
    line-height: 24px; /* 150% */
}

/* -----------Footer end -----------*/

.chat {
    position: fixed;
    right: 28px;
    bottom: 28px;

    padding: 0;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 64px;
    height: 64px;

    background-color: #10BBD5;
    background-image: url("../images/chat_icon.png");
    background-size: 50px 50px;
    background-position: center;
}